#topbar {
    font-family: 'Impact';
    text-align: center;
    white-space: nowrap;
    box-shadow: 0px 8px 32px #0007;
}
#topbar h1 {
    font-size: 96px;
    text-shadow: 6px 8px 4px #0005;
}



#sidebar {
    margin: 0;
    padding: 0;
}
#sidebar h1 {
    color: white;
    text-align: center;
}
#sidebar .pagelink {
    text-align: center;
    border: ridge 2px #ff8787;
}

#links {
    margin:0;
    padding:0;
}


#links img {
    display:inline;
}